

<header>
    <div class="title"><b>_Event_</b></div>
    <nav>
            <div class="leftNav">
                    <div><a routerLink="home" routerLinkActive="active"><fa-icon [icon]="['fas', 'home']"></fa-icon>  Home</a></div>
                    <div><a routerLink="/login" routerLinkActive="active">  Login  <fa-icon [icon]="['fas', 'sign-in-alt']"></fa-icon></a></div>
                    <div><a routerLink="/signUp" routerLinkActive="active">  Sign up</a></div>          
            </div>

            <div class="rightNav">
                    <div class="admin"><a routerLink="/adminPanel" routerlinkActive="active"> <fa-icon [icon]="['fas', 'toolbox']"></fa-icon>   Admin </a></div>             
            </div>
    
    </nav> 
</header>
