<div class="main">
  <div class="grid-main">
    <div *ngFor="let e of list">
      <div><img src="#" alt=""></div>
      <p>{{e.eventName}}</p>
      <p>{{e.eventTitle}}</p>
    </div>

      <!-- <div>
        <div><img src="#" alt=""></div>
        <p>EVENT NAME HERE</p>
        <p>ID HERE</p>
      </div>

      <div>
          <div><img src="#" alt=""></div>
          <p>EVENT NAME HERE</p>
          <p>ID HERE</p>
        </div>

      <div>
            <div><img src="#" alt=""></div>
            <p>EVENT NAME HERE</p>
            <p>ID HERE</p>
       </div>


        <div>
              <div><img src="#" alt=""></div>
              <p>EVENT NAME HERE</p>
              <p>ID HERE</p>
        </div>

        <div>
                <div><img src="#" alt=""></div>
                <p>EVENT NAME HERE</p>
                <p>ID HERE</p>
        </div> -->
   </div>
</div>

