<nav>
  <div>
      <fa-icon [icon]="['fas', 'user-plus']" size="3x"></fa-icon>
    <a routerLink="/addStaff" routerLinkActive="active"><fa-icon [icon]="['fas', 'user-plus']"></fa-icon>  Add staff</a>
    <a routerLink="/ticketList" routerLinkActive="active"><fa-icon [icon]="['fas', 'users']"></fa-icon>Staff list</a>
  </div>
  
  <div>
      <fa-icon [icon]="['fas', 'ticket-alt']" size="3x"></fa-icon>
    <a routerLink="/tix" routerLinkActive="active"><fa-icon [icon]="['fas', 'ticket-alt']"></fa-icon>  Add tickets</a>
    <a routerLink="/ticketList" routerLinkActive="active"><fa-icon [icon]="['fas', 'users']"></fa-icon>Ticket list</a>
  </div>   

  <div>
      <fa-icon [icon]="['fas', 'users']" size="3x"></fa-icon>
    <a routerLink="/addEvent" routerLinkActive="active"><fa-icon [icon]="['fas', 'users']"></fa-icon>  Add events</a>
    <a routerLink="/ticketList" routerLinkActive="active"><fa-icon [icon]="['fas', 'users']"></fa-icon>Event list</a>
  </div>    
</nav>